.Header{
    display: flex;
    flex-direction: row;
    width:100%;
}
.HeaderImg{
    margin: 3rem 0 2rem 5%;
}  
.HeaderNav{
    display: flex;
    flex-direction: row;
    margin: 3.5rem 0 0 65% ;
}
.HeaderText{
    color:#FF6060}
.HeaderLien{
    text-decoration: none;
    margin-right: 4rem;
    width: 80px;
}
.HeaderTextSoul{
    text-decoration: underline;
    color: #FF6060;
}
@media screen and (max-width:599px) {
    .Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        text-transform: uppercase;
    }
    .HeaderImg{
        width: 35%;
    }
    .HeaderNav{
        margin: 3.5rem 0 0 1rem;
    }
    .HeaderLien{
        margin-right: 0.5rem;
        width: 100px;
    }
}